#header {
    background: #4c8f77;
    color: white;
    font-family: Arial;
    height: auto;
    padding: 25px 25px;
    text-align: center;
}

body {
    background: lightyellow;
    font: 18px Arial, sans-serif;
}

.comment {
    margin-top: 100px;
	margin-bottom: 25px;
	font-size: 10pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #add8e6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #48aac9;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}
